<div class="talk">
  <h3><%= @question %></h3>
  <p><em> - You </em></p>
</div>
<hr>
<div class="talk">
  <h3><%= @answer %></h3>
  <p><em> - Your coach</em></p>
</div>
<hr>
<%= link_to 'Ask me again . . .', '/ask' %>
