/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .main-header {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #42126e;
  color: rgb(177, 178, 224);
  text-shadow: 2px 2px 2px #000000;
  margin: 10px auto;
  width: 50vw;
  border-radius: 10px;
 }

 a {
  background-color: #55836a;
  color: rgb(214, 210, 204);
  text-shadow: 2px 2px 2px #000000;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px 0;
 }

 .talk {
  border-left: 6px solid rgb(133, 136, 133);
 }
